<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="styleCadastro.css">

     <!--bootstrap css-->
     <link rel="stylesheet" href="node_modules/bootstrap/compiler/bootstrap.css">

  <title>Cadastro</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-info">

        <div class="container">

             <a class="navbar-brand h1 mb-0" href="home.html">PSG.cat</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
       
             <div class="collapse navbar-collapse" id="navbarSite">

              <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Entrar</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="cadastro.html">Cadastre-se</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Serviços</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Depoimentos</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Contatos</a>
                  </li>

              </ul>

              <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
                    Social
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Facebook</a>
                    <a class="dropdown-item" href="#">Twitter</a>
                    <a class="dropdown-item" href="#">Facebook</a>
                  </div>

                </li>

              </ul>

              <form class="form-inline">
                <input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
                  <button class="btn btn-dark" type="submit">OK</button>

                
              </form>
           </div>
        </div>
      
      
    </nav>
    <div class="p-3 mb-2 bg-secondary text-white">
    <br>
    <br>

    
        

  <div id="codigo_vue_js"></div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script>
    
    
    new Vue({
        el: '#codigo_vue_js',
        template: `
            <div class="container">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="p-3 mb-2 bg-white text-dark">
                    

            <div class="right-cadastro"></div>

            <div class="card-cadastro">
                <h2 class="text-center"><strong>CADASTRO</strong></h2>
                <br>

                <form class="form" id="form">

                    <div class="form-row">
                    <label for="username">Nome de usuário</label>
                    <input type="text" class="form-control" id="username" placeholder="edylla.123" v-model="username" required>
                    
                    <br>
                    <span class="text-danger" v-text="result_username"></span>
                    </div>

                    <br>
                    <div class="form-row">
                    <label for="full_name">Nome completo</label>
                    <input type="text" class="form-control" id=" full_name" placeholder="Nome completo" v-model="full_name" required>

                    <span class="text-danger" v-text="result_full_name"></span>
                    </div>
                    <br>

                    <div class="form-row">
                    <label for="birthday">Data de nascimento</label>
                    <input type="text" class="form-control" id="birthday" placeholder="21/11/1997" v-model="birthday" required>

                    <span class="text-danger" v-text="result_birthday"></span>
                    </div>
                    <br>

                    <div class="form-row">
                    <label for="phone">Telefone (somente números)</label>
                    <input type="text" class="form-control" id="phone" placeholder="11977889900" v-model="phone" required>

                    <span class="text-danger" v-text="result_phone"></span>
                    </div>
                    <br>
                
                    <div class="form-row" >
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="exemplo@email.com" v-model="email" required>
                        
                        <br>
                        <span class="text-danger" v-text="result_email"></span>
                    </div>    
                    <br>          

                    <div class="form-row">
                            <label for="formacao">Formação</label>
                            <input type="text" class="form-control" id="formacao" placeholder="Sistemas de informação" v-model="formacao" required>
                            
                            <br><br>
                            <span class="text-danger" v-text="result_formacao"></span>
                    </div>
                    <br>

                    <div class="form-row">
                            <label for="especializacao">Especialização</label>
                            <input type="text" class="form-control" id="especializacao" placeholder="Análise de dados" v-model="especializacao" required>
                            
                            <br><br>
                            <span class="text-danger" v-text="result_especializacao"></span>
                    </div>
                    <br>

                    <div class="form-row">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" placeholder="Senha" v-model="password" required>
                            
                            <br><br>
                            <span class="text-danger" v-text="result_password"></span>
                    </div>
                    <br>

                    
                    <div class="form-row">
                            <label for="password">Confirmar senha</label>
                            <input type="password" class="form-control" id="passowordtwo" placeholder="Confirmar senha" v-model="password_confirmation" required>
                            
                            <br><br>
                            <span class="text-danger" v-text="result_password_confirmation"></span>
                    </div>
                    <br>

                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <p>Selecione uma opção: </p>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="user_type">
                                <option selected>Escolha uma opção...</option>
                                <option value="USUARIO">Usuário</option>
                                <option value="PRESTADOR">Prestador</option>
                            </select>
                        
                            <span class="text-danger" v-text="result_user_type"></span>
                        </div>
                    </div>

                    <div class="checkbox">
                    </div>

                    <br>
                    <i>* item obrigatório<i>
                    <br>
                
                    <button v-on:click.prevent="validate" class="btn btn-outline-info">Enviar</button>
                    
                    </br>
                    </br>

                    <h6> Já possui Login?<h6>
                        </br>
                        <a href="login.html"> ENTRAR </a>

                </form>
                
            </div>


            </div>
            </div>
            </div>
            </div>
            </div>
            
            

        `,
        data() {
            return {
                username: '',
                full_name: '',
                email: '',
                password: '',
                password_confirmation: '',
                user_type: '',
                formacao: '',
                phone: '',
                birthday: '',
                especializacao: '',

                result_username: '',
                result_full_name: '',
                result_email: '',
                result_password: '',
                result_password_confirmation: '',
                result_formacao: '',
                result_phone: '',
                result_birthday: '',
                result_especializacao: '',
                result_user_type: ''
            
            }
        },
        methods: {
            validate() {
                
                username = String(this.username);
                full_name = String(this.full_name);
                email = String(this.email);
                password = String(this.password);
                password_confirmation = String(this.password_confirmation);
                user_type = String(this.user_type);
                birthday = String(this.birthday);
                phone = String(this.phone);
                especializacao = String(this.especializacao);
                formacao = String(this.formacao);

                check = 0;

                //1. Username não deve ser vazio
                
                if(username == '') {
                    this.result_username = 'Nome de usuário não pode ser vazio';
                } else {
                    this.result_username = '';
                    check = check + 1;
                }

                //2. Email deve ser válido
                var regex_only_letters = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/; // Regex diz que email é valido
                if(!regex_only_letters.test(email)) {
                    this.result_email = 'Email não é válido';
                } else {
                    this.result_email = '';
                    check = check + 1;
                }

                //3. Senha deve ter no mínimo 8 caracteres
                pass_size = password.length;
                if(! (pass_size >= 8)){
                    this.result_password = 'Senha deve ter pelo menos 8 caracteres';
                } else {
                    this.result_password = '';
                    check = check + 1;
                }

                //4. Confirmação de senha deve bater com a senha
                if(!(password == password_confirmation)){
                    this.result_password_confirmation = 'Confirmação de senha não é válida';
                } else {
                    this.result_password_confirmation = '';
                    check = check + 1;
                }

                //5. Tipo de usuário deve ter sido selecionado
                if(!(user_type == 'USUARIO' || user_type == 'PRESTADOR')){
                    this.result_user_type = 'Tipo de usuário não é válido';
                } else {
                    this.result_user_type = '';
                    check = check + 1;
                }

                //6. Especialização não deve ser vazia
                if(especializacao == '') {
                    this.result_especializacao = 'Especialização não pode ser vazia. Caso não tenha, preencher com: "Não possuo"';
                } else {
                    this.result_especializacao = '';
                    check = check + 1;
                }

                //7. Formacao não deve ser vazia
                if(formacao == '') {
                    this.result_formacao = 'Formação não pode ser vazia. Caso não tenha, preencher com: "Não possuo"';
                } else {
                    this.result_formacao = '';
                    check = check + 1;
                }
                
                //8. Telefone deve ser válido
                var regex_only_letters = /^[0-9]+$/; // Regex diz que telefone só contém numeros
                if(!regex_only_letters.test(phone)) {
                    this.result_phone = 'Inclua somente números no telefone. Exemplo: 119988776655';
                } else {
                    this.result_phone = '';
                    check = check + 1;
                }

                //9. Data de nascimento não deve ser vazia
                
                if(birthday == '') {
                    this.result_birthday = 'Data de nascimento não deve ser vazia';
                } else {
                    this.result_birthday = '';
                    check = check + 1;
                }

                //10. Username não deve ser vazio
                
                if(full_name == '') {
                    this.result_full_name = 'Nome completo não pode ser vazio';
                } else {
                    this.result_full_name = '';
                    check = check + 1;
                }


                if (check == 10) {
                
                    // Inserir usuário na base
                    
                    axios.post('http://127.0.0.1:5000/insert_user',  {
                              user_name: username
                            , name: full_name
                            , data_de_nascimento: birthday
                            , telefone: phone
                            , is_professional: user_type
                            , formacao: formacao
                            , especializacao: especializacao
                            , senha: password
                            , email: email
                    })
                    .then(function (response) {
                        window.alert('Cadastro feito! Você será redirecionado para a tela de login.');
                        location.assign('login.html');
                    })
                    .catch(function (error) {
                        window.alert('Formulário deve estar completo e de acordo com os requisitos.');
                    });

                    
                }
            },

            check_login(){
                if(localStorage.getItem("full_name") === null){
                    console.log('começar cadastro');
                } else {
                    location.assign('home.html')
                }
            }

        },

        beforeMount(){
            this.check_login()
        },
    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/6b3043e23a.js" crossorigin="anonymous"></script>
  
  
  

</body>
</html>

